* {
	margin: 0;
	padding: 0;
}

.form-wrapper {
	background-color: #c4b8b8;
	height: 100vh;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-container {
	width: 500px;
	margin: auto;
	background-color: #ffffff;
	padding: 2rem;
	box-sizing: border-box;
	border-radius: 1rem;
}

.form {
	display: flex;
	flex-direction: column;
}

.form-label {
	text-align: left;
	font-size: 2rem;
	font-family: cursive;
	margin-top: 2rem;
}

.form-fields {
	padding: 10px;
	font-size: 1rem;
	box-sizing: border-box;
	border-radius: 8px;
	outline: none;
	font-size: 24px;
}

.login-btn {
	width: 300px;
	background: #acb7d2;
	height: 55px;
	border-radius: 15px;
	outline: none;
	margin-top: 61px;
	font-size: 22px;
	color: white;
	font-family: cursive;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (max-width: 767px) {
	.form-container {
		width: 500px;
		margin: auto;
		background-color: #ffffff;
		padding: 2rem;
		box-sizing: border-box;
		border-radius: 1rem;
	}
}
