.nav-wrapper {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px;
	background: red;
	box-sizing: border-box;
	height: 3.5rem;
	background-color: lightgrey;
}
